<mat-dialog-content>
  <div class="files-container" *ngIf="fileArray.length > 0;else empty">
    <div class="file" *ngFor="let file of fileArray; let i = index">
      <div class="block name-block">{{file.name}}</div>
      <div class="block icon-block" (click)="removeUpload(i)"><mat-icon>delete</mat-icon></div>
    </div>
  </div>
  <input type="file" class="file-input"
         multiple
         (change)="onFileSelected($event)"
         #fileUpload>

  <div class="file-upload">

    {{ fileArray.length > 0 ? fileArray.length + ' files uploaded' : "Upload file" }}

    <button mat-mini-fab color="primary" class="upload-btn"
            (click)="fileUpload.click()">
      <mat-icon>attach_file</mat-icon>
    </button>

  </div>
  <div class="button-container">
    <button (click)="closeDialog()" mat-button [disabled]="fileArray.length === 0">Upload files</button>
  </div>


  <ng-template #empty>
    <div class="empty-block block-container">No files uploaded yet</div>
  </ng-template>
</mat-dialog-content>



