.file-input{
  display: none;
}

.file{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 8px;
}

.files-container{
  margin-bottom: 16px;
}

.file-upload{
  margin:8px;
}
